<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <title>Lecture 5</title>

    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

    <div id="characters">
    </div>

    <!-- underscore templates -->

    <script type="text/template" id="character-template">
      <div class="name"><%= first %> <%= last %></div>
    </script>

    <!-- load scripts -->

    <script src="lib/js/jquery-1.11.0.js"></script>
    <script src="lib/js/underscore.js"></script>
    <script src="lib/js/backbone.js"></script>
    <script src='backbone-models.js'></script>
  </body>
</html>
